@page "/game"
@using SpeedrunRoute.Shared.Models
@inject HttpClient Http

<h1>Games</h1>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>JapaneseName</th>
                <th>Abbreviation</th>
                <th>Year of Release</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
            <tr>
                <td>@game.ID</td>
                <td>@game.Name</td>
                <td>@game.JapaneseName</td>
                <td>@game.Abbreviation</td>
                <td>@game.YearOfRelease</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private GameModel[] games;

    protected override async Task OnInitializedAsync()
    {
        games = await Http.GetFromJsonAsync<GameModel[]>("Game");
    }

}
